.button {
  text-decoration: none;
  font-size: 25px;
  color: #1febb6;
  padding: 20px 50px;
  border: 3px solid #1febb6;
  position: relative;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  width: 40px;
  negative: 40px;
  border: inherit;
  transition: all 0.5s;
}
.button:before {
  top: -15px;
  left: -15px;
  border-width: 3px 0 0 3px;
}

.button:after {
  bottom: -15px;
  right: -15px;
  border-width: 0 3px 3px 0;
}
.button:hover::before,
.button:hover::after {
  width: calc(100% + 27px);
  height: calc(100% +27px);
}

.spinner {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.spinner::before,
.spinner::after {
  content: "";
  position: relative;
  border-radius: inherit;
}
.spinner::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #ff00cc 0%, #333399 100%);
  animation: spin 0.5s infinite linear;
}
.spinner::after {
  width: 85%;
  height: 85%;
  background-color: #151515;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
